In [74]:
from google.colab import drive
from google.colab import files
drive.mount('/content/drive')
%cd /content/drive/My Drive/Colab Notebooks/FinalCapstone

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks/FinalCapstone

In [75]:
import pandas as pd
df = pd.read_excel('data.xlsx', header=None)



---


# Input Generation

In [76]:
df1=df[0:6]
df2=df[6:12]
df3=df[12:18]

In [77]:
#Year 1
Y1names = df1.iloc[:,0].tolist()

row1 = df1.iloc[0]
row2 = df1.iloc[1]
row3 = df1.iloc[2]
row4 = df1.iloc[3]
row5 = df1.iloc[4]
row6 = df1.iloc[5]

Y1vac1 = [row1[1], row1[2], row1[3]]
Y1vac2 = [row2[1], row2[2], row2[3]]
Y1vac3 = [row3[1], row3[2], row3[3]]
Y1vac4 = [row4[1], row4[2], row4[3]]
Y1vac5 = [row5[1], row5[2], row5[3]]
Y1vac6 = [row6[1], row6[2], row6[3]]

In [78]:
#Year 2
Y2names = df2.iloc[:,0].tolist()

row1 = df2.iloc[0]
row2 = df2.iloc[1]
row3 = df2.iloc[2]
row4 = df2.iloc[3]
row5 = df2.iloc[4]
row6 = df2.iloc[5]

Y2vac1 = [row1[1], row1[2], row1[3], row1[4]]
Y2vac2 = [row2[1], row2[2], row2[3], row2[4]]
Y2vac3 = [row3[1], row3[2], row3[3], row3[4]]
Y2vac4 = [row4[1], row4[2], row4[3], row4[4]]
Y2vac5 = [row5[1], row5[2], row5[3], row5[4]]
Y2vac6 = [row6[1], row6[2], row6[3], row6[4]]

In [79]:
#Year 3
Y3names = df3.iloc[:,0].tolist()

row1 = df3.iloc[0]
row2 = df3.iloc[1]
row3 = df3.iloc[2]
row4 = df3.iloc[3]
row5 = df3.iloc[4]
row6 = df3.iloc[5]

Y3vac1 = [row1[1], row1[2], row1[3], row1[4]]
Y3vac2 = [row2[1], row2[2], row2[3], row2[4]]
Y3vac3 = [row3[1], row3[2], row3[3], row3[4]]
Y3vac4 = [row4[1], row4[2], row4[3], row4[4]]
Y3vac5 = [row5[1], row5[2], row5[3], row5[4]]
Y3vac6 = [row6[1], row6[2], row6[3], row6[4]]

In [80]:
def output():
  print("Y1names =", Y1names,";")
  print("Y1vac1 =", Y1vac1,";")
  print("Y1vac2 =", Y1vac2,";")
  print("Y1vac3 =", Y1vac3,";")
  print("Y1vac4 =", Y1vac4,";")
  print("Y1vac5 =", Y1vac5,";")
  print("Y1vac6 =", Y1vac6,";")
  print("Y2names =", Y2names,";")
  print("Y2vac1 =", Y2vac1,";")
  print("Y2vac2 =", Y2vac2)
  print("Y2vac3 =", Y2vac3,";")
  print("Y2vac4 =", Y2vac4,";")
  print("Y2vac5 =", Y2vac5,";")
  print("Y2vac6 =", Y2vac6,";")
  print("Y3names =", Y3names,";")
  print("Y3vac1 =", Y3vac1,";")
  print("Y3vac2 =", Y3vac2,";")
  print("Y3vac3 =", Y3vac3,";")
  print("Y3vac4 =", Y3vac4,";")
  print("Y3vac5 =", Y3vac5,";")
  print("Y3vac6 =", Y3vac6,";")



---

# Input

In [82]:
output()

Y1names = ['Joseph Caravella', 'Jordan Coffey', 'Marcus Davis', 'Jackson Weaver', 'J.J. Westmoreland', 'Hannah Willey'] ;
Y1vac1 = [10, 2, 5] ;
Y1vac2 = [10, 2, 5] ;
Y1vac3 = [11, 1, 4] ;
Y1vac4 = [9, 12, 4] ;
Y1vac5 = [12, 2, 6] ;
Y1vac6 = [10, 1, 4] ;
Y2names = ['Cody Bushyhead', 'Prabh Khunkhun', 'Jay Napolitano', 'Andrew Oracz', 'Natasha Rezvani', 'Steven Vo'] ;
Y2vac1 = [9, 12, 3, 6.0] ;
Y2vac2 = [9, 12, 4, 6.0]
Y2vac3 = [11, 3, 5, 6.0] ;
Y2vac4 = [10, 2, 4, 6.0] ;
Y2vac5 = [8, 12, 2, 4.0] ;
Y2vac6 = [12, 1, 3, 5.0] ;
Y3names = ['Bryce Chapman', 'Charlie Dean', 'Read Founds', 'Marshall Frieden', 'Shonte Joseph', 'Chris Van Hise'] ;
Y3vac1 = [11, 3, 5, 6.0] ;
Y3vac2 = [8, 10, 1, 2.0] ;
Y3vac3 = [11, 12, 2, 4.0] ;
Y3vac4 = [8, 12, 2, 3.0] ;
Y3vac5 = [7, 12, 2, 4.0] ;
Y3vac6 = [8, 11, 2, 5.0] ;