# Initialize the dataframes

In [1]:
from google.colab import drive
from google.colab import files
drive.mount('/content/drive')
%cd /content/drive/My Drive/Colab Notebooks

import pandas as pd

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks

# Constraint Solution Problem

In [2]:
!pip install python-constraint
from constraint import *

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-constraint
  Downloading python-constraint-1.4.0.tar.bz2 (18 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: python-constraint
  Building wheel for python-constraint (setup.py) ... done
  Created wheel for python-constraint: filename=python_constraint-1.4.0-py2.py3-none-any.whl size=24079 sha256=40564121c657b7a6df11ba769135543a77361c8f983fa1a13f6e8f4c5c0939ac
  Stored in directory: /root/.cache/pip/wheels/86/ba/5c/4e9115777de42c6a2e1ca77ef7c9d0d479254c5080341b55c5
Successfully built python-constraint
Installing collected packages: python-constraint
Successfully installed python-constraint-1.4.0

# Year 1 Constraints

Constraints:
*   Inpt cannot occur two months in a row for a student
*   Each month two students must have Inpt
* Inpt cannot be in a vacation month
* Peds cannot be in a vacation month
* Each student must take OBGYN twice
* Each student must take Peds twice
* Each student must take NICU, Emergency Med, Psych, and Surg one time

Classes: Inpt, OBGYN, Peds, NICU, Emergency Med, Psych, Surg

In [8]:
df_Schedule = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
problem = Problem()

people = ['Joseph Caravella', 'Jordan Coffey', 'Marcus Davis', 'Jackson Weaver', 'J.J. Westmoreland', 'Hannah \"Day\" Willey']

months = ['July','August','September','October','November','December','January','February','March','April','May','June']

rotations = ['Inpt','OBGYN','Peds','NICU','Emergency Med','Psych','Surg']

# Define the students and their vacation months
vacation_months = {'Cody Bushyhead': ['September', 'December', 'March','June'],
                   'Prabh Khunkhun': ['September', 'December', 'April','June'],
                   'Jay Napolitano': ['November', 'March', 'May','June'],
                   'Andrew Oracz': ['October', 'February', 'April','May','June'],
                   'Natasha Rezvani': ['August', 'December', 'February','April'],
                   'Steven Vo': ['December', 'January', 'March','May']}
for person in people:
    problem.addVariable(person, months)


def different_months(person1, person2):
    return person1 != person2
for person1 in people:
    for person2 in people:
        if person1 != person2:
            problem.addConstraint(different_months, (person1, person2))


solution = problem.getSolution()

for person, month in solution.items():
    df_Schedule.loc[len(df_Schedule)] = [person] + ["" if m != month else "NICU" for m in months]
df_Schedule

,Name,July,August,September,October,November,December,January,February,March,April,May,June
0,"Hannah ""Day"" Willey",,,,,,,,,,,,Rotation
1,J.J. Westmoreland,,,,,,,,,,,Rotation,
2,Jackson Weaver,,,,,,,,,,Rotation,,
3,Jordan Coffey,,,,,,,,,Rotation,,,
4,Joseph Caravella,,,,,,,,Rotation,,,,
5,Marcus Davis,,,,,,,Rotation,,,,,

# Year 2 Constraints

Constraints:
* Each student needs Inpt 4 times
* Inpt needs two people in it each month  
* Inpt cannot be in the same month as a vacation
* EM UMC cannot be in the same month as a vacation
* Everything else is needed only 1 time (Gyn,Cards,Crit Care,Amb Peds, EM UMC, Practice Mngmt, Peds EM, Ortho)
* All classes besides INPT will have 1 student per month max

Classes: Gyn, Cards, Crit Care, Amb Peds, EM UMC, Practice Mngmt, Peds EM, Ortho, Inpt

In [9]:
df_Schedule2 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])

# Define the students and their vacation months
vacation_months = {'Cody Bushyhead': ['September', 'December', 'March','June'],
                   'Prabh Khunkhun': ['September', 'December', 'April','June'],
                   'Jay Napolitano': ['November', 'March', 'May','June'],
                   'Andrew Oracz': ['October', 'February', 'April','May','June'],
                   'Natasha Rezvani': ['August', 'December', 'February','April'],
                   'Steven Vo': ['December', 'January', 'March','May']}
rotations = [ 'Gyn', 'Cards', 'Crit Care', 'Amb Peds', 'EM UMC', 'Practice Mngmt', 'Peds EM', 'Ortho', 'Inpt']

# Year 3 Constraints

Constraints:
* Each student needs Inpt 2 times
* Each student needs Elective 4 times
* Elective needs two people in it each month  
* Inpt cannot be in the same month as a vacation
* ENT/Opthal and Uro/Neuro cannot be in a vacation month
* Everything else is needed only 1 time (ENT/Ophthal, MSK, Amb Peds, Uro/Neuro, Comm Med, Derm)
* All classes besides Elective will have 1 student per month max

Classes: Inpt, Elective, ENT/Ophthal, MSK, Amb Peds, Uro/Neuro, Comm Med, Derm

In [ ]:
df_Schedule3 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
# Define the students and their vacation months
vacation_months = {'Bryce Chapman': ['November', 'March', 'May','June'],
                   'Charlie Dean': ['August', 'October', 'January','February'],
                   'Read Founds': ['November', 'December', 'February','April'],
                   'Marshall Frieden': ['August', 'December', 'February','March'],
                   'Shonte Joseph': ['July', 'December', 'February','April'],
                   'Chris Van Hise': ['August', 'November', 'February','May']}
rotations = ['Inpt', 'Elective', 'ENT/Ophthal', 'MSK', 'Amb Peds', 'Uro/Neuro', 'Comm Med', 'Derm']

#Accross Year Rules



*   OBGYN cannot have a second and third year in it at once